<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title> Calculate Salary </title>
</head>
<body>
    <div class="container">
        
        <a href="/logout"> Logout </a> | <a href="/admin"> Go Back </a>
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 900px;">
                <h4 class="card-title mt-3 text-center">Employee Information</h4>
    
    
                <p> Employee ID : {{ emp.id }}</p>
                <p> Employee Nmae : {{ emp.first_name }} {{ emp.last_name }}</p>
                <p> Employee Department : {{ emp.department.name }}</p>
                <p> Employee Total Salary : {{ emp.total_salary }}</p>

                <h3 class="card-title mt-3 text-center">Salary Calculation</h3>
                <h4 class="card-title mt-3 text-center">Calculate the salary for the Employee:</h4>

                <div class="form-group input-group">
                    <form action="/calculate_salary/{{emp.id}}" method="POST" class="form-group col-xs-3">
                        {% csrf_token %}
                        <p>Salary per day: <input type="number" name="salary_per_day" class="form-control"></p>
                        <p>Attandences Days: <input type="number" name="days" class="form-control"></p>
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </form>
                </div>
            </div>
    </div>
    
</body>
</html>